*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    display: block;
}
div{
    display: block;
}
.header-main{
    width: 1349px;
    height: 100px;
    background: black;
}
.container{
    overflow: hidden;
    width: 1200px;
    height: 100px;
    margin: 0 auto;

}
.header-main .logo{
    float: left;
    padding: 25px 0 0 0;
}
.header-main .logo a{
    float: left;
    display: block;
    width: 50px;
    height: 50px;
    background: url(../imgs/logo_d4aa5fa65d.png);
    /*background-size: 50px;*/
}
.container .nav{
    /*float: right;*/
}
.container .nav-main{

    margin-top: 36px;
}
.container .nav a{
    display: block;
    font-size: 14px;
    height: 28px;
    padding: 0 20px;
    /*margin: 20px;*/
    float: right;
    color: #fff;
    opacity: .6;
}

.main .sub-nav{
    /*position: absolute;*/
}
.main .sub-nav .sub-nav-fix{
   width: 1349px;
    height: 90px;
    /*background: red;*/
}

.main .sub-nav .sub-nav-fix .sub-nav-fix-ul{
    position: relative;
    padding: 37px 0 0 0;
}
.main .sub-nav .sub-nav-fix li{
    padding-left: 42px;
    float: left;
    font-size: 14px;
}

.main .page{
    position: relative;
    margin: 0 auto;
    width: 1349px;
    height: 4394px;
    background: blue;
}
/*.main .view .banner-3d{*/
    /*margin: 0 auto;*/
/*}*/
.main .view .banner-3d .banner-3d-mask .carousel{
    /*position: relative;*/
    width: 1225px;
    height: 500px;
    margin: 0 auto;
}
.main .page .box{
    width: 1190px;
}
.main .page .activity li{
    width: 25%;
    /*height: 200px;*/
    /*position: relative;*/
    float: left;
    text-align: center;
}

.main .page .hot .hot-wrapper li{
    width: 25%;
float: left;
text-align: center;
    /*position: relative;*/

}
.main .page .floor li{
    /*width: 25%;*/
    float: left;
    text-align: center;
    /*position: relative;*/

}

.main .page .technology li{
    width: 25%;
    /*height: 200px;*/
    /*position: relative;*/
    float: left;
    text-align: center;
}









.footer .bottom-container{
    /*position: absolute;*/
    width: 1220px;
    margin: auto;
}
.footer .bottom-container .siteinfo{
    position: relative;
    padding: 100px 0 32px;
    height: 233px;
    background: yellow;
}

.footer .bottom-container .siteinfo .footer-banner .main-menu{
    width: 149px;
    height: 24px;
    /*background: purple;*/
    float: left;
}
.footer .bottom-container .siteinfo .footer-banner .main-menu li{
    font-size: 12px;
}
.footer .bottom-container .siteinfo .footer-banner h3{
    font-size: 12px;
}
.footer .bottom-container .siteinfo .service{
    float: right;
}

.footer .bottom-container .copyright{
    height: 117px;
    background: red;
}
